
Manuscript/FertMort_MS.aux
Manuscript/FertMort_MS.bbl
Manuscript/FertMort_MS.blg
Manuscript/FertMort_MS.log
Manuscript/FertMort_MS.pdf
Manuscript/FertMort_MS.synctex.gz
Manuscript/FertMort_MS.xwm
Manuscript/FertMort_MS.out
